<!DOCTYPE html>
<html>
	<head>
		<!--<link rel=styleSheet href="css/styles.css" type="text/css">-->
    <meta charset="utf-8">
		<title>
				App ejercicio 1
			</title>
	</head>
  <body>
    <header>
      <h1>App ejercicio 1</h1>
    </header>

    <p><%=@data%></p>

    <form class="" action="/added" method="post">
					<input type="text" name="equipo" value="Granada">
					<input name="empatados" type="hidden" value="3">
          <input name="ganados" type="hidden" value="12">
          <input name="perdidos" type="hidden" value="2">
					<input type="submit" name="added" value="added">
		</form>

  </body>
</html>
