<!DOCTYPE html>
<html>
	<head>
		<!--<link rel=styleSheet href="css/styles.css" type="text/css">-->
    <meta charset="utf-8">
		<title>
				App ejercicio 1
			</title>
	</head>
  <body>
    <header>
      <h1>App ejercicio 1</h1>
    </header>

    <p><%=@data%></p>

  </body>
</html>
